* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login__principal {
    margin-top: 6rem;
}

.ancora {
    text-decoration: none;
    color: #000;
    font-weight: 700;
    padding: 0.5em 3em;
    margin-top: 1em;
    border-radius: 10px;
    background-color: greenyellow;
}

.body__index {
    margin-top: 3rem;
}

.index {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 73% 27%;
    grid-template-areas:
    "t t"
    "b b";
    gap: 1em;
    align-items: center;
    width: 95vw;
    height: 91vh;
}

.index__text {
    margin-bottom: 2rem;
    grid-area: t;
}

.index__button {
    grid-area: b;
    margin-top: 2em;
}

.index a {
    text-decoration: none;
    margin: auto 3rem;
    padding: 0.5em 2em;
    font-weight: 700;
    border-radius: 10px;
    color: #000;
    background-color: greenyellow;
}